.gallery{
  width:90%;
  margin: 0 auto;
  text-align: center;
}
.photo-gallery {
  overflow: hidden;
  margin-left: 0;
}
ul.photo-gallery {
  margin: 0 auto;
}
ul li.photo-gallery {
    list-style-type: none;
    display: inline;
    padding: 0;
    overflow: hidden;
    clear: both;
}
ul li img.photo-gallery {
  width: 312px;
  height: 272px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
