#bdiv {
   position:absolute;
   background:url('/img/overlay-bg.png'), url('/img/spiderman-ultralight.jpg') no-repeat center fixed;
   background-size:cover;
   height: 70%;
   width:100%;
   -webkit-background-size:cover;
   -moz-background-size:cover;
   background-size:cover;
   overflow:hidden;
   line-height: 1.428571429;
   color: #ffffff !important;
   background-color: #191524;
   margin-bottom: 20px;
   z-index: 2;
 }
 #bdiv a:hover {
   color: #fff;
 }
 #cdiv {
       position:absolute;
       padding: 0;
       margin: 0;
       top:51%;
       left:50%;
       margin-right:-50%;
       transform:translate(-50%,-50%);
       text-align:center;
       display: block;
       overflow: hidden;
       clear: both;
       z-index: 3;
       font-size: 22px;
     }
#cdiv a {
  text-decoration: underline;
}
#footer-home {
  position:absolute;
  padding: 900px 20px 450px 30px;
  margin: 0;
  top: 50%;
  left:50%;
  margin-right:-50%;
  transform:translate(-50%,-50%);
  text-align:center;
  display: block;
  overflow: hidden;
  bottom: 0;
  font-size: 15px;
  color: $grey-color;
  @extend %clearfix;
}
#descrizione-home{
  color: #333;
  line-height: 1.75em;
}
@include media-query($on-palm) {
    #cdiv {
      font-size: 15px;
    }
  }
@media screen and (min-width: 601px) and (max-width: 799px) {
  #footer-home {
      padding: 1000px 20px 550px 30px;
  }
}
@media screen and (max-width: 600px) {
  #footer-home {
    padding: 1090px 20px 750px 30px;
  }
}
.cookie {
    font-size: 10px;
    color: $grey-color-dark;
    margin-left: -$spacing-unit / 2;
    letter-spacing: -1;
        @extend %clearfix;
  }

 .text-brown {
       color: #c98959;
     }
  a {
  text-decoration:none;
 }
 .btn-brown {
     padding: 10px 16px;
     font-size: 18px;
     line-height: 1.3333333;
     border-radius: 6px;
     color: #fff;
     color: #fff;
     background-color: #c98959;
     border-color:  #686868;
     cursor: pointer;
   }
 .btn-brown:focus,
 .btn-brown.focus {
     color: #fff;
     background-color: #686868;
     border-color: #c98959;
   }
 .btn-brown:hover {
     color: #c98959;
     background-color: #686868;
     border-color: #c98959;
   }
